nav{
    background-color: #434343;
}

.navbar-brand{
    font-size: 2rem;
}

.textoClaro{
    color: #F8F8F8;
    font-family: "Verdana";
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px;
}

.textoClaro:hover{
    color: #F7C873;
}