.count {
    background-color: #F7C873;
    color: #434343;
    font-family: "Verdana";
    font-size: 1.5rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 10px;
    border: 2px solid #434343;
    border-radius: 10px;
}

h2 {
    font-size: 1.5rem;
}

div div button {
    background-color: #434343;
    color: #F8F8F8;
    border-radius: 10px;
    margin: 5px;
    font-size: 1rem;
}

.button1 {
    width: 30px;
    text-align: center;
}

.button2 {
    width: 120px;
    text-align: center;
    align-self: center;
}